* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Tahoma, Verbana;
}

html,
body {
  height: 100%;
}

body {
    background-position: top;
}

.wrapper {
    max-width: 900px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;    
    margin: auto;
    overflow: hidden;
    transition: 1s filter;
}

.view.full {
    width: min(100%, 900px);
}

.wrapper .pageContent {
    position: absolute;
    left: 0;
    right: 0;
    top: 3em;
    bottom: 0;
    text-align: center;
}

.templates {
    display: none;
}

select.time {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 4em;
}

.date, .time {
    border: none !important;
    padding: 0.3em;
    border-radius: 1em !important;
    height: 2em;
}

.date {
    text-align: end;
    width: 6em;
}

.ui-widget-content {
    border-radius: 1em !important;
    padding: 1em !important;
}

.btn {
    border: 0;
    border-radius: 5px;
    margin-top: 50px;
    height: 60px;
    width: 200px;
    font-style: 20px;
    font-weight: 500;
    cursor: pointer;
}

h1, h2, h3, h4 {
    text-align: center;
    font-weight: 200;
}

h1, h2 {
    margin: 0.8em;
}

.mainmenu .btn {
    margin: 0.8em auto;
}

.mainmenu {
    align-content: center;
}

.marker {
    position: absolute;
    width: 64px;
    height: 64px;
    background-size: contain;
}

.auto {
    margin-left: -32px;
    margin-top: -32px;
}

.position {
    margin-left: -32px;
    margin-top: -64px;
}

.user-marker {
    position: absolute;
    width: 4em;
    height: 4em;
    background-size: contain;
    margin-left: -2em;
    margin-top: -4em;
}

#map .anim {
    animation-name: markerAnim;
    animation-duration: 5s;
    transition-timing-function: cubic-bezier(.68, -.6, .32, 1.6);
}

#map .animShake {
    animation-name: markerShake;
    animation-duration: 0.3s;
    animation-delay: 1s;
}

@keyframes markerAnim {
  0% {
    margin-top: -7em;
    opacity: 0;
    filter: hue-rotate(180deg);
  }
  20% {
    margin-top: -4em;
    opacity: 1;
  }
  100% {
    filter: hue-rotate(0deg);
  }
}

@keyframes markerShake {
  0% { margin-left: -2.3em; }
  20% { margin-left: -1.7em; }
  40% {  margin-left: -2.3em; }
  60% { margin-left: -1.7em; }
  80% { margin-left: -2.3em; }
  100% { margin-left: -2em; }
}

#windows {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shadow, .ui-widget-content {
    box-shadow: 0px 0px 1em #000000ba;    
}

.radius {
    border-radius: 1em;
}

.radiusTop {
    border-radius: 1em 1em 0 0;
}

.radiusBottom {
    border-radius: 0 0 1em 1em;
}

.notifications {
}

.notifications .item {
    margin: 0.2em;
    padding: 0.5em;

    animation-name: showView;
    animation-duration: 0.2s;  
}

.notifications .item p {
    padding: 0.5em 2em 0.5em 0.5em;
    overflow-wrap: anywhere;
}

.notifications .item .header {
    padding: 0 1em;
}

.option .header span {
    font-size: 0.8em;
    margin-right: 1em;
}

.view {
    max-height: 90%;
    /*max-width: 100%;*/

    z-index: 1;
    padding: 0.5em;
    display: flex;
    flex-flow: column;

    animation-name: showView;
    animation-duration: 0.4s;

    transition: width 0.5s ease-in-out;
}

.dialog {
    margin: 2em;
    width: 24em;
}

.view.bottom {
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
    margin: 0px;
    width: 100%;
}

.view.bottom .footer {
    margin: 0;
}

.show {
    display: block !important;
    animation-name: showView !important;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

.hide {
    animation-name: hide !important;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes showView {
  0% {
    scale: 0.7;
    opacity: 0;
    display: none;
  }
  100% {
    scale: 1;
    opacity: 1;
    display: block;
  }
}

@keyframes hide {
  0% {
    scale: 1;
    opacity: 1;
    display: block;
  }
  100% {
    scale: 0.7;
    opacity: 0;
    display: none;
  }
}

.view > .header {
    height: 2em;
    display: flex;
}

.view > .empty {
    height: 0px;
    display: block;
    z-index: 10;
}

/*
.view > .title::after {
    content: " ";
    height: 2em;
    pointer-events: none;
    animation-name: showTitle;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
*/

.hr {
    height: 1px;
    pointer-events: none;
    animation-name: showTitle;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    border-width: 1px;
    border-style: solid;
}

.divider {
    border-width: 1px;
    border-style: solid;
    width: 20%;
    margin: auto;
}

@keyframes showTitle {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.view > .header h3 {
    flex-grow: 1;
    align-content: center;
    text-transform: uppercase;
    font-weight: 100;
    padding-left: 0.5em;
}

.view .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    overflow: hidden;
    margin: 1em;
    transition: 0.5s width;
    overflow-y: scroll;
}

.view .content .group {
    min-width: 20em;
    flex-grow: 1;
    display: flex;
    flex-flow: column;
}

.field {
    margin: 0.1em;
    display: flex;
    flex-flow: column;
    overflow: hidden;
}

.field p {
    padding: 0.2em;
}

.field .InfoField {
    /*animation-name: showInfoTitle;
    animation-duration: 1s;
    animation-fill-mode: forwards;*/
}

/*
@keyframes showInfoTitle {
  0% {
    margin-top: -2em;
    opacity: 0;
  }
  100% {
    margin-top: 0em;
    opacity: 1;
  }
}*/

.field label {
    margin-bottom: 0.5em;
}

.form .field {
    margin: 1em;
    min-width: 20em;
}

.content .title {
    font-style: italic;
    display: block;
}

.pageContent .form {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.datetime {
    display: flex;
    overflow: hidden;
    align-items: center
}

input, select, .datetime {
    border-style: solid;
    border-width: 1px;
    padding: 0.8em 1em;
    border-radius: 1.5em;
    height: 3em;
}

.field > input, .field > .datetime {
    margin-left: 1em;
    font-size: 0.9em;
}

input:focus, select:focus {
    outline: none;
}

.field input[type="checkbox"] {
    display: none;
}

.view .footer {
    display: flex;
    margin: 0 1em 1em 1em;
}

.btn-block {
    justify-content: center;
}

.sliderView {
    scroll-behavior: smooth;
}

.footer .sliderView {
    overflow-x: scroll;
    height: 5em;
}


.pageContent .sliderView {
    overflow-y: scroll;
    position: absolute;
    left: 0;
    right: 0;
    top: 4em;
    bottom: 4.5em;
}

/*#windows .sliderView {
    overflow-y: scroll;
    position: absolute;
    left: 1em;
    right: 1em;
    top: 3em;
    bottom: 1em;
}
*/

.pageContent .footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.5em;
    display: flex;
    justify-content: center;
}

.sliderView::-webkit-scrollbar {
}

.content .slider {
    height: max-content;
}

.footer .slider, .slider-group {
    display: flex;
    width: max-content;
    align-items: center;
}

.footer .slider .notify {
    max-height: 5em;
    width: 28em;
    font-size: 0.8em;
    padding: 0 0.5em;
    flex-direction: row;
    display: flex;
}

.car .notify p {
    padding: 0;
    font-size: 0.8em;
}

.car .notify {
    min-width: 20em;
    font-size: 0.8em;
}

.car-image-box {
    height: 5em;
    width: 12em;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    padding: 0.2em;
}

.car-image-box img {
    object-fit: contain;
    height: 70%;
}

.car-image-box span {
    width: 100%;
    height: 100%;
    display: block;
    color: #777777;
    font-size: 1.2em;
    z-index: 1;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: bold;
}

.notify.car button {
    border-radius: 1.5em;
    border: 2px solid gray;
    float: right;
    width: 3em;
    height: 3em;
    margin-left: -1.5em;
    z-index: 3;
}

.notify.car .block {
    padding: 0.3em;
}

.closed:after {
    content: " ";
    background-size: contain;
    width: 1em;
    height: 1em;
    align-self: flex-start;
    flex-shrink: 0;
}

.item-image-box {
    padding: 0.5em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.chess {
    background-size: 30px 30px; 
    background-position: 0 0, 15px 15px;
}

.item-image {
    height: 3em;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.close {
    width: 2em;
    height: 2em !important;
    float: right;
    margin: 0.2em;
    background-size: contain;
    flex-shrink: 0;
}

.datetime-field {

    display: flex;
    align-items: center;
}

.infoView {
    margin-left: 0px;
    opacity: 1;
    display: block;
    font-size: 0.6em;
    opacity: 0;

    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

.showInfo {
    animation-name: showInfo;
}

@keyframes showInfo {
  0% {
    margin-left: -50%;
    opacity: 0;
  }
  90% {
    margin-left: 5%;
    opacity: 1;
  }
  100% {
    margin-left: 0%;
    opacity: 1;
  }
}

#map {
    transition: 0.5 -webkit-filter linear;
    filter: none;
    pointer-events: all;
    position: absolute !important;
    top: 2.3em;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#map > div > div + div {
    animation-name: showOpacity;
    animation-duration: 1s;
}

.field .map-layer.show {
    height: 300px !important;
    margin: 1em 0 1em 1em;
}

.field .map-layer {
    border-radius: 1em;
    overflow: hidden;

    height: 0px;
    transition: height 0.5s, margin 0.5s;
}

.map-layer {
    background-color: white;
    animation-name: showOpacity;
    animation-duration: 1s;
    animation-delay: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes showOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.curtain {
    filter: blur(0.4em) !important;
    pointer-events: none !important;
}

#DriverMenu {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: fit-content;
    margin: 1em;
    padding: 1em;
}

#DriverMenu > a {
    width: 1.2em;
    height: 1.2em;
    background-size: contain;
    display: block;
    cursor: pointer;
}

.info {
    text-align: center;
}

.info p {
    padding: 0.8em;
}

.datetime > .now {
    cursor: pointer;
    display: block;
}

.target-view {
    margin: 1em;
}

.warning {
    padding: 0.8em;
    font-size: 0.8em;
    margin-top: 0.5em;
    margin-bottom: 8px;
    margin-right: 8px;
    animation-name: showView;
    animation-duration: 0.2s;
}

.warning::before {
    content: ' ';
    width: 20px;
    height: 20px;
    display: block;
    rotate: 50grad;
    position: absolute;
    margin-top: -18px;
    margin-left: 30px;
    border-radius: 0 0 50px 0;
}

.field .container {
    margin-left: 1em;
    /*padding: 1em;*/
}

.popup {
    display: none;
}

.view .popup {
    display: block;
}

.windows > .popup {
    display: block;
    position: absolute;
    padding: 1em;
    margin: 2em;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

}

/*------------------selectView----------------*/

.selectView .block {
    border: 1px solid gray;
    border-radius: 2em;
    display: block;
    width: 2.6em;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    height: 2.5em;
    float: right;
    transition-timing-function: cubic-bezier(.68,-.6,.32,1.6);
    animation-name: showBlock;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0.1s;
}

.field-0 .block{
    animation-delay: 0.25s;
}

.field-1 .block{
    animation-delay: 0.5s;
}

.field-2 .block{
    animation-delay: 0.5s;
}

.field-3 .block{
    animation-delay: 0.75s;
}

.field-4 .block{
    animation-delay: 1s;
}

.selectView .items {
    display: none;
}

.dialog .selectView {
    margin-top: 0.5em;
}


.selectView .value {
    display: flex;
    align-items: center;
    padding: 0.5em 1em;
    position: absolute;
    height: 2.8em;
    font-size: 0.8em;
    width: 300px;
    text-decoration: none;
    /* overflow: hidden; */
}

.trips .block .value {
    position: relative;
    cursor: pointer;
}

.selectView .button {
    border-radius:1.5em;
    border: 2px solid gray;
    float: right;
    width: 2.5em;
    height: 2.5em;
    position: sticky;
    color: #575757;
}

.trips .selectView .button {
    width: 5em;
}

.trips .header {
    margin: 2em;
}

.selectView .popup-button::before {
    content: ' ';
    width: 0.1em;
    height: 0.1em;
    display: block;
    position: absolute;
    border: 7px solid transparent;
    rotate: 250grad;
    transition: 0.5s rotate;
}

.items .option {
    padding: 0.5em;
    width: 100%;
    display: flex;
    cursor: pointer;
}

.notifications .items .option {
    flex-direction: column;
}

.items .option .header {
    margin: 0.5em;
}

.notifications .option .order {
    padding: 0.5em;
    font-size: 0.8em;
}

.option .img {
    height: 3em;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.field .item-image {
    width: 100%;
}

.items {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@keyframes showBlock {
  0% {
    width: 4em;
  }

  100% {
    width: 100%;
  }
}

/*----------LISTVIEW---------------*/

.listView {
    border-radius: 0.5em;
    padding: 0.5em;
}

.listView .option {
    justify-content: space-between;
}

.listView .option .label {
    display: flex;
    align-items: center;
}

.listView .option .button {
    width: 2em;
    height: 2em;
}

/*--------------------BUTTONS-------------------------*/



.mainmenu button {
    display: block;
}

.button {
    border: 0;
    background-size: contain;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.5s opacity;
    display: flex;
    align-items: center;
    justify-content: center;

}

.button:hover {
    opacity: 1;
}

.button, .datetime-field {
    min-width: 1em;
    margin: 0.3em;
    height: 3em;
    transition: 0.5s background-color;
    border-radius: 15em;
}

.button:active {
}

.button:hover {
}

.footer .button, .datetime-field {
    max-width: 20em;
    font-size: 1em;
    padding: 0 1em;
}

.container button {
    padding: 0 1.5em;
    margin: 1em 0;
    float: right;
}

.field .map-container {
    height: 0px;
    transition: height 0.5s;
}

.show .map-container {
    height: 300px;
}

.field .button.open::before {
    rotate: 50grad;
}

.selectView .button {
    margin: 0;
}

.carbodies .option .img, .colors .option .img {
    width: 100%;
}

.carbodies .option, .colors .option {
    flex-direction: column;
}