* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: left;
}

html {
    font-family: Roboto, Arial, sans-serif;
}

html,
body {
  height: 100%;
}

body {
    background-position: top;
}

.wrapper {
    max-width: 900px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;    
    margin: auto;
    overflow: hidden;
    transition: 1s filter;
}

.view.full {
    width: min(100%, 900px);
}

.wrapper .pageContent {
    position: absolute;
    left: 0;
    right: 0;
    top: 3em;
    bottom: 0;
    text-align: center;
}

.templates {
    display: none;
}

select.time {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 4em;
}

.date, .time {
    border: none !important;
    padding: 0.3em;
    border-radius: 1em !important;
    height: 2em;
}

.date {
    text-align: end;
    width: 6em;
}

.date:read-only {
    width: auto;
    text-align: left;
}

.ui-widget-content {
    border-radius: 1em !important;
    padding: 1em !important;
}

.btn {
    border: 0;
    border-radius: 5px;
    margin-top: 50px;
    height: 60px;
    width: 200px;
    font-style: 20px;
    font-weight: 500;
    cursor: pointer;
}

h1, h2, h3, h4 {
    text-align: center;
    font-weight: 200;
}

h1, h2, h3 {
    margin: 0.3em;
}

.mainmenu .btn {
    margin: 0.8em auto;
}

.mainmenu {
    align-content: center;
}

.marker {
    position: absolute;
    width: 64px;
    height: 64px;
    background-size: contain;
}

.auto {
    margin-left: -32px;
    margin-top: -32px;
}

.position {
    margin-left: -6px;
    margin-top: -6px;
}

.driver-position {
    margin-left: -32px;
    margin-top: -32px;
}

.user-marker, .user-current {
    position: absolute;
    width: 4em;
    height: 4em;
    background-size: contain;
    margin-left: -2em;
    margin-top: -4em;
}

.debug {
    width: 5px;
    height: 5px;
    position: absolute;
    border-radius: 2px;
    background: black;
    animation-name: smoothHide;
    animation-delay: 1s;
    animation-duration: 1s;
}



.IPAZAH-content-container span {
    text-align: center;
    color: black;
    background: #ffffff94;
    display: block;
    width: max-content;
}

#map .anim {
    animation-name: markerAnim;
    animation-duration: 5s;
    transition-timing-function: cubic-bezier(.68, -.6, .32, 1.6);
}

#map .animShake {
    animation-name: markerShake;
    animation-duration: 0.3s;
    animation-delay: 1s;
}

.trouble {
    animation-name: shake !important;
    animation-duration: 0.3s;
}

@keyframes smoothHide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes markerAnim {
  0% {
    margin-top: -7em;
    opacity: 0;
    filter: hue-rotate(180deg);
  }
  20% {
    margin-top: -4em;
    opacity: 1;
  }
  100% {
    filter: hue-rotate(0deg);
  }
}

@keyframes shake {
  0% { margin-left: -.3em; }
  20% { margin-left: .3em; }
  40% {  margin-left: -.3em; }
  60% { margin-left: .3em; }
  80% { margin-left: -.3em; }
  100% { margin-left: 0em; }
}

@keyframes markerShake {
  0% { margin-left: -2.3em; }
  20% { margin-left: -1.7em; }
  40% {  margin-left: -2.3em; }
  60% { margin-left: -1.7em; }
  80% { margin-left: -2.3em; }
  100% { margin-left: -2em; }
}

#windows, #modal-windows {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s background, 0.5s filter;
}

#modal-windows {
    pointer-events: none;
    z-index: 3;
}

.modal #modal-windows {
    pointer-events: all;
}

#map, .view, #toolbarMenu {
    transition: 0.5s filter, 0.5s height, 0.5s width;
}

.modal #map, .modal #windows .view, .modal #toolbarMenu, .modal .pageContent {
    filter: blur(0.2em) !important;
}

.nowrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.radius {
    border-radius: 1em;
}

.notifications {
}

.notifications .item {
    margin: 0.2em;
    padding: 0.5em;

    animation-name: showView;
    animation-duration: 0.2s;  
}

.notifications .item p {
    padding: 0.5em 2em 0.5em 0.5em;
    overflow-wrap: anywhere;
}

.notifications .item .header {
    padding: 0 1em;
}

.option .header span {
    font-size: 0.8em;
    margin-right: 1em;
}

.view {
    max-height: 90%;
    z-index: 1;
    padding: 0.5em;
    display: flex;
    flex-flow: column;

    /*transition: width 0.5s ease-in-out;*/
}

#windows > .view, #modal-windows > .view {
    animation-name: showView;
    animation-duration: 0.4s;
    border-radius: 1em;
}

.bottom-layer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: end;
    flex-direction: column;
    z-index: 1;
    padding-top: 20px;
}

.bottom-layer > .view:nth-child(1) {
    border-radius: 1em 1em 0 0;
}

.bottom-layer > .view {
    animation-name: showView;
    animation-duration: 0.4s;
}

.pageContent .view {
    overflow: hidden;

    animation-name: appearedIn;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.orderView .content table {
    width: fit-content;
}

.orderView .content table td {
    padding-right: 0.5em;
}

.orderView .btn-block button {

    animation-name: showView;
    animation-duration: 1s;
}

.cols {
    display: flex;
}

.cols-2 * {
    min-width: 50%;
}

.cols .btn-block {
    align-items: center;
    justify-content: end;
}

.dialog {
    margin: 2em;
    width: 24em;
}

.view.bottom {
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
    margin: 0px;
    width: 100%;
}

.view.bottom .footer {
    margin: 0;
}

.show {
    display: block !important;
    animation-name: showView !important;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

.hide {
    animation-name: hide !important;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes showView {
  0% {
    scale: 0.5;
    opacity: 0;
    display: none;
  }
  100% {
    scale: 1;
    opacity: 1;
    display: block;
  }
}

@keyframes appearedIn {
  0% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    display: block;
  }
}

@keyframes hide {
  0% {
    scale: 1;
    opacity: 1;
    display: block;
  }
  100% {
    scale: 0.5;
    opacity: 0;
    display: none;
  }
}

.view > .header {
    display: flex;
    align-content: space-between;
}

.view > .header > div:nth-child(1) {
    flex-grow: 1;
    margin: 0.5em;
}

.view > .empty {
    height: 0px;
    display: block;
    z-index: 10;
}

.hr {
    width: 0;
    height: 1px;
    pointer-events: none;
    animation-name: showTitle;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    border-width: 1px;
    border-style: solid;
}

.divider {
    border-width: 1px;
    border-style: solid;
    width: 20%;
    margin: auto;
}

@keyframes showTitle {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.view > .header h3 {
    flex-grow: 1;
    align-content: center;
    text-transform: uppercase;
    font-weight: 100;
    padding-left: 0.5em;
    margin: 0;
}

.view .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    overflow: hidden;
    margin: 1em;
    transition: 0.5s width;
}

.view .content .group {
    min-width: 20em;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.group.hori {
    justify-content: end;
    flex-direction: row !important;
}

.group.hori .field {
    justify-content: end;
    width: -webkit-fill-available;
}

.group.hori .field > input, .group.hori .field > .datetime {
    margin-left: 0 !important;
}

.field {
    margin: 0.5em 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.select-target .field {
    text-overflow: ellipsis;
    height: 1.2em;
}

.field p {
    padding: 0.2em;
}

.field .InfoField {
    /*animation-name: showInfoTitle;
    animation-duration: 1s;
    animation-fill-mode: forwards;*/
}

/*
@keyframes showInfoTitle {
  0% {
    margin-top: -2em;
    opacity: 0;
  }
  100% {
    margin-top: 0em;
    opacity: 1;
  }
}*/

.target-view .InfoField {
    margin: 0px;
}

.target-view .btn-block {
    flex-shrink: 0;
    padding-top: 2em;
}

.target-view .btn-block {
    flex-direction: column;
}

.view .settings {
    background-repeat: no-repeat;
    background-position: center;
}

.field label {
    margin-bottom: 0.5em;
}

.form .field {
    margin: 1em;
    min-width: 20em;
}

.content .title {
    font-style: italic;
    display: block;
}

.pageContent .form {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.datetime {
    display: flex;
    overflow: hidden;
    align-items: center
}

input, select, .datetime {
    border-style: solid;
    border-width: 1px;
    padding: 0.8em 1em;
    border-radius: 1.5em;
    height: 3em;
    font-size: 0.9em;
}

.field > input, .field > .datetime, .field > select {
    margin-left: 1em;
}

input:focus, select:focus {
    outline: none;
}

.field input[type="checkbox"] {
    display: none;
}

.view .footer {
    display: flex;
}

.btn-block {
    justify-content: center;
    align-items: center;
    display: flex;
}

.sliderView {
    scroll-behavior: smooth;
}

.footer .sliderView {
    overflow-x: scroll;
    height: 5em;
}

.pageContent.data-model .sliderView {
    top: 4em;
}

.pageContent .sliderView {
    overflow-y: scroll;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/*#windows .sliderView {
    overflow-y: scroll;
    position: absolute;
    left: 1em;
    right: 1em;
    top: 3em;
    bottom: 1em;
}
*/

form > .footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.5em;
    display: flex;
    justify-content: center;
}

.sliderView::-webkit-scrollbar {
}

.form .data {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.pageContent .slider {
    height: max-content;
}

.footer .slider, .slider-group {
    display: flex;
    width: max-content;
    align-items: center;
}

.footer .slider .notify {
    max-height: 5em;
    width: 28em;
    font-size: 0.8em;
    padding: 0 0.5em;
    flex-direction: row;
    display: flex;
}

.car .notify p {
    padding: 0;
    font-size: 0.8em;
}

.car .notify {
    min-width: 20em;
    font-size: 0.8em;
}

.car-image-box {
    height: 5em;
    width: 12em;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    padding: 0.2em;
}

.car-image-box img {
    object-fit: contain;
    height: 70%;
}

.car-image-box span {
    width: 100%;
    height: 100%;
    display: block;
    color: #777777;
    font-size: 1.2em;
    z-index: 1;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: bold;
}

.notify.car button {
    border-radius: 1.5em;
    border: 2px solid gray;
    float: right;
    width: 3em;
    height: 3em;
    margin-left: -1.5em;
    z-index: 3;
}

.notify.car .block {
    padding: 0.3em;
}

.closed:after {
    content: " ";
    background-size: contain;
    width: 1em;
    height: 1em;
    align-self: flex-start;
    flex-shrink: 0;
}

.item-image-box {
    padding: 0.5em;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1em;
    border: 1px solid gray;
    border-radius: 1em;
}

.chess {
    background-size: 30px 30px; 
    background-position: 0 0, 15px 15px;
}

.item-image {
    height: 3em;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.close {
    width: 2em;
    height: 2em !important;
    float: right;
    margin: 0.2em;
    flex-shrink: 0;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

.datetime-field {

    display: flex;
    align-items: center;
}

.infoView {
    margin-left: 0px;
    display: block;
    font-size: 0.7em;
    opacity: 0;

    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

.showInfo {
    animation-name: showInfo;
}

@keyframes showInfo {
  0% {
    margin-left: -50%;
    opacity: 0;
  }
  90% {
    margin-left: 5%;
    opacity: 1;
  }
  100% {
    margin-left: 0%;
    opacity: 1;
  }
}

#map {
    transition: 0.5 -webkit-filter linear;
    filter: none;
    position: absolute !important;
    top: 2.3em;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: white;
}

#map > div {
    transition: 0.5s height;
}

#map > div > div + div {
    animation-name: showOpacity;
    animation-duration: 1s;
}

.field .map-layer.show {
    height: 300px !important;
    margin: 1em 0 1em 1em;
}

.field .map-layer {
    border-radius: 1em;
    overflow: hidden;

    height: 0px;
    transition: height 0.5s, margin 0.5s;
}

.map-layer {
    background-color: white;
    animation-name: showOpacity;
    animation-duration: 1s;
    animation-delay: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes showOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#DriverMenu {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: fit-content;
    margin: 1em;
    padding: 1em;
}

#DriverMenu > a {
    width: 1.2em;
    height: 1.2em;
    background-size: contain;
    display: block;
    cursor: pointer;
}

.info {
    text-align: center;
}

.info p {
    padding: 0.8em;
}

.datetime > .now {
    cursor: pointer;
    display: block;
}

.target-view .extend-block {
    max-width: 200px;
    margin-top: 1em;
    height: 0px;
    overflow: hidden;
    transition: 0.5s height;
}

.target-view.extend .extend-block {
    height: 160px;
    margin-left: 4px;
}

select {
   -webkit-appearance: none; 
   -moz-appearance: none;
   appearance: none; 
}

.warning {
    padding: 0.8em;
    font-size: 0.8em;
    margin-top: 0.5em;
    margin-bottom: 8px;
    margin-right: 8px;
    animation-name: showView;
    animation-duration: 0.2s;
}

.warning::before {
    content: ' ';
    width: 20px;
    height: 20px;
    display: block;
    rotate: 50grad;
    position: absolute;
    margin-top: -18px;
    margin-left: 30px;
    border-radius: 0 0 50px 0;
}

form .field .container {
    margin-left: 1em;
    /*padding: 1em;*/
}

.popup {
    display: none;
}

.view .popup {
    display: block;
}

.windows > .popup {
    display: block;
    position: absolute;
    padding: 1em;
    margin: 2em;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

}

/*------------------selectView----------------*/

.selectView .block {
    border: 1px solid gray;
    border-radius: 2em;
    display: block;
    width: 2.6em;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    height: 2.5em;
    float: right;
    transition-timing-function: cubic-bezier(.68,-.6,.32,1.6);
    animation-name: showBlock;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0.1s;
}

.field-0 .block{
    animation-delay: 0.25s;
}

.field-1 .block{
    animation-delay: 0.5s;
}

.field-2 .block{
    animation-delay: 0.5s;
}

.field-3 .block{
    animation-delay: 0.75s;
}

.field-4 .block{
    animation-delay: 1s;
}

.field-5 .block{
    animation-delay: 1.25s;
}

.selectView .items {
    display: none;
}

.items.cars .edit {
    width: 16px;
    height: 16px;
    background-size: contain; 
    cursor: pointer;
}

.dialog .selectView {
    margin-top: 0.5em;
}


.selectView .value {
    display: flex;
    align-items: center;
    padding: 0.5em 1em;
    position: absolute;
    height: 2.8em;
    font-size: 0.8em;
    width: 300px;
    text-decoration: none;
    /* overflow: hidden; */
}

.trips .block .value {
    position: relative;
    cursor: pointer;
}

.selectView .button {
    border-radius:1.5em;
    border: 2px solid gray;
    float: right;
    width: 2.5em;
    height: 2.5em;
    position: sticky;
    color: #575757;
}

.trips .selectView .button {
    width: 5em;
}

.selectView .popup-button::before {
    content: ' ';
    width: 0.1em;
    height: 0.1em;
    display: block;
    position: absolute;
    border: 7px solid transparent;
    rotate: 250grad;
    transition: 0.5s rotate;
}

.cars .option {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.items .option {
    padding: 0.5em;
    width: 100%;
}

.items .notifyItem {
    display: flex;
}

.items .notifyItem .trash {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;    
    width: 16px;
    opacity: 0.7;
    flex-shrink: 0;
}

.items .notifyItem .trash:hover {
    opacity: 1;
}

.notifications .items .option {
    flex-direction: column;
}

.items .option .header {
    margin: 0.5em;
    cursor: pointer;
}

.notifications .option .order {
    padding: 0.5em;
    font-size: 0.8em;
}

.option .img {
    height: 3em;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.field .item-image {
    width: 100%;
}

.items {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@keyframes showBlock {
  0% {
    width: 4em;
  }

  100% {
    width: 100%;
  }
}

/*----------LISTVIEW---------------*/

.listView {
    border-radius: 0.5em;
    padding: 0.5em;
}

.listView .option {
    justify-content: space-between;
}

.listView .option .label {
    display: flex;
    align-items: center;
}

.listView .option .button {
    width: 2em;
    height: 2em;
}

/*--------------------BUTTONS-------------------------*/



.mainmenu button {
    display: block;
}

.button, .button-flat {
    border: 0;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.5s opacity;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    margin-left: auto !important;
    margin-right: auto !important;
}

.button:hover, .button-flat:hover {
    opacity: 1;
}

.button, .datetime-field, .button-flat {
    margin: 0.3em;
    height: 3em;
    transition: 0.5s background-color;
    border-radius: 15em;
}

.btn-block .button, .button-flat {
    min-width: 2em;
    margin-bottom: 1em;
}

.button:active {
}

.button:hover {
}

.button, .datetime-field {
    max-width: 20em;
    font-size: 1em;
    padding: 0 1em;
}

.container button {
    padding: 0 1.5em;
    margin: 1em 0;
    float: right;
}

.field .map-container {
    height: 0px;
    transition: height 0.5s;
}

.show .map-container {
    height: 300px;
}

.field .button.open::before {
    rotate: 50grad;
}

.selectView .button {
    margin: 0;
}

.carbodies .option .img, .colors .option .img {
    width: 100%;
}

.carbodies .option, .colors .option {
    flex-direction: column;
}

/*--------------------ORDER----------------*/

.order.wait .driver-info {
    display: none;
}

.order.wait .driver .wait {
    display: block;
}

.order .driver .wait {
    display: none;
}

.view.order .data {
    overflow-x: scroll;
    justify-content: left;
}

.offerView td {
    padding: 0.2em;
}

.orderInfo {
    width: 100%;
}

.orderInfo .cols {
    justify-content: space-between;
}

.orderInfo td:nth-child(1) {
    text-align: right;
}

.orderInfo .stepInfo {
    padding-left: 1em;
}

.stepInfo .remaindDistance {
    font-size: 2em;
}

.stepInfo.expand,
.selectOrder.expand {
    width: auto !important;
}

.stepInfo.expand .remaindDistance {
    text-align: center;
}

.gm-control-active {
    border-radius: 2em;
}

.gmnoprint > div {
    background: none !important;
    box-shadow: none !important;
}

.orderView .instruction {
    font-size: 0.8em;
}

.orderView .instruction > div {
    font-size: 0.8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dist-warning {
    color: white;
}

.place {
}

.orderDetail .place {
    max-width: 10em;
}

.overflow-dot {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.orderView .content {
    align-items: center;
}

.orderView .header > div {
    display: flex;
    flex-direction: column;
}

.orderView .header > div > div {
    text-wrap-mode: nowrap;
}

.orderView .header span {
    max-width: 20em;
}

.orderView .header {
    text-align: center;
}

.data .block .param,
.data .block .dynParam  {
    justify-content: space-between;
    font-size: 0.8em;
    min-height: 1.5em;
}

.data .block .param {
    display: flex;
}

.dynParam {
    display: none;
}

.execution .stayParam,
.driver_move .stayParam {
    display: none;
}

.execution .orderInfo .dynParam,
.driver_move .orderInfo .dynParam {
    display: table-row;
}

.accepted .order .dynParam,
.execution .order .dynParam,
.driver_move .order .dynParam {
    display: flex;
}



.tracerInfo {
    margin: 0px !important;
}

.active .tracerInfo {
    display: flex;
}

.vidget {
    position: absolute;
    left: 1em;
    height: fit-content;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    z-index: 2;
    top: 4em;
    flex-direction: column;
    white-space: 10px;
    align-content: 10px;
    grid-gap: 0.5em;
}

.vidget .block {
    min-width: 15%;
    width: 8em;
    padding: 1em;
}

.speedInfo, .selectOrder, .stepInfo {
    display: none;
}

.stepInfo > div,.stepInfo > div {
    width: 100%;
}

.orderView.collaps .routeInfo {
    display: none;
}

.orderView.collaps .tracerInfo{
    margin: 5px !important;
}

.orderView.expand.execution,
.orderView.expand.driver_move {
    height: fit-content;
}

.orderView.execution .speedInfo td:nth-child(1) ,
.orderView.driver_move .speedInfo td:nth-child(1) {
    display: none;
}

.header .to {
    width: 32px;
    height: 32px;
    background-image: url(images/goto.png);
    opacity: 0.3;
}

.data .block {
    text-align: left;
    border-radius: 0.5em;
    padding: 0.6em;
    width: max-content;
}

.trips .data .block {
    margin: 2em 0.5em;
}

.view .data .block {
    margin: 1em 0.5em 0 0.5em;
}

.view .data {
    display: flex;
    justify-content: center;
}

.view.order .content{
    margin: 0;
}

.view.order .block {
    transition: width 0.5s, height 0.5s;
    max-width: 50%;
}

.header .separator {
    margin: 3px;
}

.order.finished .driver {
    display: none;
}

.order.finished .route {
    width: 100%;
}

.order.execution .close {
    visibility: hidden !important;
}

.param.comfort,  
.param.seating,  
.param.carbody {
    display: none !important;
}

.order .stateHead {
    text-align: center !important;
}

.data .block h3 {
    margin-top: -1.5em;
    margin: -2em 2em 0 2em;
    align-content: center;
    padding: 0 1em;
    font-style: italic;
    color: aquamarine;
    font-size: 0.9em;
}

.data .block .trip {
    display: flex;
    flex-direction: column;
}

.data .block .trip span {
    margin: 3px 0px;
}

.data .block .name {
    padding: 0.2em 0;
}

.data .block .param span,
.data .block .dynParam span {
    display: flex;
    align-items: end;
    padding: 0.2em 0.2em;
}

.data .param .item-image span {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: #ffffff12;
}

.gm-style-iw-c {
    min-width: 10em !important;
}

.driver-window {
    margin: 0.8em;
}

.orderView.wait .btn-block .button:nth-child(1) {
    display: block;
}

.orderView.accepted .btn-block .button:nth-child(1) {
    display: block;
}

.orderView.expired .btn-block .button:nth-child(1) {
    display: block;
}

.orderView .btn-block .button {
    display: none;
}

.taken-order .header {
    display: none;
}

.taken-order .header.active {
    display: flex;
}

.tracerBar {
    margin: 5px;
    height: 8px;
    overflow: hidden;
}

.tracerBar > div {
    height: 8px;
    width: 30%;
}

.markers {
    height: 0px;
}

.markers .marker {
    height: 15px;
    width: 8px;
    cursor: pointer;
}

.markers .marker .arrow {
    height: 12px;
    margin-top: 2px;
    margin-left: 1px;
}

.markers .marker.start .arrow {
    width: 12px;
    transform: rotate(45deg);
}

.markers .marker.finish .up {
    display: none;
}

.marker .tip {
    position: absolute;
    height: 20px;
    width: 50px;
    border-radius: 5px;
    text-align: center;
    font-size: small;
    padding: 2px;
}

.marker .up {
    margin-top: -20px;
    margin-left: -16px;
}

.marker .bottom {
    margin-left: -16px;
    margin-top: 18px;
}

.timeLine .startTime,
.timeLine .finishTime {
    z-index: 2;
}

.timeLine {
    height: 1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*-----------------Загрузка----------------*/

#fountainG{
    position:relative;
    width: 80px;
    height: 40px;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fountainG{
    /* position:absolute; */
    top:0;
    background-color:rgb(255,255,255);
    width: 8px;
    height:16px;
    animation-name:bounce_fountainG;
    -o-animation-name:bounce_fountainG;
    -ms-animation-name:bounce_fountainG;
    -webkit-animation-name:bounce_fountainG;
    -moz-animation-name:bounce_fountainG;
    animation-duration:1.5s;
    -o-animation-duration:1.5s;
    -ms-animation-duration:1.5s;
    -webkit-animation-duration:1.5s;
    -moz-animation-duration:1.5s;
    animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
    transform:scale(.3);
    -o-transform:scale(.3);
    -ms-transform:scale(.3);
    -webkit-transform:scale(.3);
    -moz-transform:scale(.3);
    border-radius:10px;
    -o-border-radius:10px;
    -ms-border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
}

#fountainG_1{
    left:0;
    animation-delay:0.6s;
        -o-animation-delay:0.6s;
        -ms-animation-delay:0.6s;
        -webkit-animation-delay:0.6s;
        -moz-animation-delay:0.6s;
}

#fountainG_2{
    left:16px;
    animation-delay:0.75s;
        -o-animation-delay:0.75s;
        -ms-animation-delay:0.75s;
        -webkit-animation-delay:0.75s;
        -moz-animation-delay:0.75s;
}

#fountainG_3{
    left:33px;
    animation-delay:0.9s;
        -o-animation-delay:0.9s;
        -ms-animation-delay:0.9s;
        -webkit-animation-delay:0.9s;
        -moz-animation-delay:0.9s;
}

#fountainG_4{
    left:49px;
    animation-delay:1.05s;
        -o-animation-delay:1.05s;
        -ms-animation-delay:1.05s;
        -webkit-animation-delay:1.05s;
        -moz-animation-delay:1.05s;
}

#fountainG_5{
    left:66px;
    animation-delay:1.2s;
        -o-animation-delay:1.2s;
        -ms-animation-delay:1.2s;
        -webkit-animation-delay:1.2s;
        -moz-animation-delay:1.2s;
}

@keyframes bounce_fountainG{
    0%{
    transform:scale(1);
        background-color:rgb(255,255,255);
    }

    100%{
    transform:scale(.3);
        background-color:rgba(255,255,255,0.04);
    }
}

@-o-keyframes bounce_fountainG{
    0%{
    -o-transform:scale(1);
        background-color:rgb(255,255,255);
    }

    100%{
    -o-transform:scale(.3);
        background-color:rgba(255,255,255,0.04);
    }
}

@-ms-keyframes bounce_fountainG{
    0%{
    -ms-transform:scale(1);
        background-color:rgb(255,255,255);
    }

    100%{
    -ms-transform:scale(.3);
        background-color:rgba(255,255,255,0.04);
    }
}

@-webkit-keyframes bounce_fountainG{
    0%{
    -webkit-transform:scale(1);
        background-color:rgb(255,255,255);
    }

    100%{
    -webkit-transform:scale(.3);
        background-color:rgba(255,255,255,0.04);
    }
}

@-moz-keyframes bounce_fountainG{
    0%{
    -moz-transform:scale(1);
        background-color:rgb(255,255,255);
    }

    100%{
    -moz-transform:scale(.3);
        background-color:rgba(255,255,255,0.04);
    }
}

/*----------------------------EXTENDS----------------------------*/

.expandable {
    cursor: pointer;
}