.toolbar {
	padding: 0.5em;
	position: absolute;
	left: 0px;
	right: 0px;
	z-index: 2;
	display: flex;
	justify-content: space-between;
}

.toolbar, .submenu {
	transition: 0.3s left;
    transition-timing-function: cubic-bezier(.68,-.3,.32,1.3);
}

.toolbar::-webkit-scrollbar {
	display: none;
}

.top {
	top: 0px;
	border-radius: 0 0 1em 1em;
}

.toolbar .user, .user .warning {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
}

.toolbar .user {
    width: 2em;
    height: 2em;
    background-image: url(images/user-white.png);
    float: right;
    cursor: pointer;
}

.user .warning {
	width: 1em;
	height: 1em;
    background-image: url(images/warning.png);
    box-shadow: 4px 4px 4px #0000009c;
    border-radius: 0.5em;
    margin-left: 0.8em;
    margin-top: 0.8em;
    display: none;
}

.toolbar a {
    border-radius: 1em;
    padding: 0.3em;
    font-size: 1em;
    min-width: 2em;
    height: 2em;
    display: block;
    margin-right: 0.5em;
    text-decoration: none;
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-weight: 400;
}

.toolbar a span {
	margin: 0 1em;
}

.menu img {
	width: 1em;
}

.submenu {
	position: absolute;
	top: 0;
	bottom: 0;
	padding-left: 5%;
	left: -85%;
	width: 80%;
	border-radius: 0 1em 1em 0;
	display: flex;
	flex-direction: column;
	z-index: 2;
}

.submenu a {
	display: block;
    text-align: center;
    cursor: pointer;
    text-decoration: none !important;
    text-transform: uppercase;
}

.submenu div {
    border-radius: 1em;
    padding: 0.3em;
    font-size: 1em;
    font-weight: 400;
    margin: 0.3em 0.6em;
}

.open .submenu {
	left: -5%;
}

.open .toolbar {
	left: 75%;
}

.open .top {
	border-radius: 0 0 1em 0;
    margin-left: -2em;
    padding-left: 2em;
}